PyRep/CoppeliaSim_Edu_V4_1_0_Ubuntu20_04/
output/
.ipynb_checkpoints
output*
*.jpg
tinybert
download
.cache*
lightning_logs/
.mypy_cache
*.sif
dataset
*.pyc
__pycache__
.DS_Store
._.DS_Store
*.pkl
experiments/
xp/
train_logs
eval_logs
02_*
03_*
debug1.sh
test.py
test_folder

